
.grid{
    display: grid; 
    grid-template-columns: [col-start] 1fr [col-1-start] 1fr [col-2-end] 1fr 
  [col-end]; 
    grid-template-rows: [row-start] 1fr [row-1-start] 1fr [row-2-end] 1fr 
  [row-end]; 
    min-height: 600px; 
    color: white; 
 

}
.uno{
    background-color: aqua;
    border-radius: 15px;
    margin: 10px;
    grid-column: col-start / col-end;
}
.dos{
    background-color:blueviolet ;
    border-radius: 15px;
    margin: 10px;
}
.tres{
    background-color: brown;
    border-radius: 15px;
    margin: 10px;
}
.cuatro{
    background-color: chartreuse;
    border-radius: 15px;
    margin: 10px;
}
.cinco{
    background-color: coral;
    border-radius: 15px;
    margin: 10px;
}
.seis{
    background-color: darkcyan;
    border-radius: 15px;
    margin: 10px;
}