.container {
  background-color: rgb(185, 181, 181);
  border: 1px solid black;
  padding: 20px;
  display: grid;
  gap: 5px;
  align-items: center;
  grid-template-areas:
    "MC MC MR MR  MAS MAS MENOS MENOS  MS MS M M "
    "DIV DIV DIV CE CE CE C C C IGUAL IGUAL IGUAL"
    "unx unx unx dosx dosx dosx dosdiv dosdiv dosdiv entre entre entre"
    "siete siete siete ocho ocho ocho nueve nueve nueve por por por "
    "cuatro cuatro cuatro cinco cinco cinco seis seis seis men men men"
    ;
   
}
.item {
  padding: 20px;
  text-align: center;
  background: white;
  border-radius: 10px;
  border: 1px solid black;
}
.item:hover {
  background-color: bisque;
  border: 1px solid red;
}
.container .item:nth-child(1) {
  grid-area: MC;
}
.container .item:nth-child(2) {
  grid-area: MR;
}
.container .item:nth-child(3) {
  grid-area: MAS;
}
.container .item:nth-child(4) {
  grid-area: MENOS;
}
.container .item:nth-child(5) {
  grid-area: MS;
}
.container .item:nth-child(6) {
  grid-area: M;
}
.container .item:nth-child(7) {
  grid-area: DIV;
}
.container .item:nth-child(8) {
  grid-area: CE;
}
.container .item:nth-child(9) {
  grid-area: C;
}
.container .item:nth-child(10) {
  grid-area: IGUAL;
}
.container .item:nth-child(11) {
  grid-area: unx;
}
.container .item:nth-child(12) {
  grid-area: dosx;
}
.container .item:nth-child(13) {
  grid-area: dosdiv;
}
.container .item:nth-child(14) {
  grid-area: entre;
}
.container .item:nth-child(15) {
  grid-area: siete;
}
.container .item:nth-child(16) {
  grid-area: ocho;
}
.container .item:nth-child(17) {
  grid-area: nueve;
}
.container .item:nth-child(18) {
  grid-area: por;
}
.container .item:nth-child(19) {
  grid-area: cuatro;
}
.container .item:nth-child(20) {
  grid-area: cinco;
}
.container .item:nth-child(21) {
  grid-area: seis;
}
.container .item:nth-child(22) {
  grid-area: men;
}