.container{
    /* box model properties */
    margin: 3rem auto;
    padding: 2rem;

    /* display properties */
    display: grid;
  }
  

  /* Mobile View */
  @media screen and (min-width:250px) and (max-width:480px) {
   
  }
/* For tablets: */
@media (min-width: 600px) {
    
  }
  
  /* For desktop: */
  @media only screen and (min-width: 900px) {
    /* Link de ir arriba se muestra solo en versión de escritorio */

  }