.grid-index-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "sidebar"
    "footer";
  gap: 2rem;
}
header {
  grid-area: header;
}

/* Main */
main {
  grid-area: main;
  padding: 2rem;
  display: grid;
  gap: 2rem;
}

@media (max-width: 600px) {
  .grid-index-container {
    grid-template-areas:
      "header"
      "main"
      "sidebar"
      "footer";
    grid-template-columns: 1fr;
  }
}
@media (min-width: 600px) {
  .grid-index-container {
    grid-template-areas:
      "header"
      "main"
      "sidebar"
      "footer";
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1024px) {
  .grid-index-container {
    grid-template-areas:
      "header header "
      "main sidebar"
      "footer footer";
    grid-template-columns: 3fr 1fr;
  }
}

.logo-container {
}
/* Panel de bienvenida */
.welcome {
  background-color: var(--color-light);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  color: var(--color-dark);
}

.welcome h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* Panel Ofertas Especiales */
.ofertas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  gap: 1rem;
  
}
.ofertas h2 {
  margin-bottom: 1rem;
  color: var(--color-black);
}

/* Sidebar */
.sidebar {
  background-color: var(--color-light);
  padding: 2rem;
  color: var(--color-dark);
  display: grid;
  grid-area: sidebar;
}

.sidebar h2 {
  margin-bottom: 1rem;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  margin-bottom: 0.5rem;
}

section.ofertas {
  margin-top: 2rem;
}
.footer {
  grid-area: footer;
}
