
header {
  grid-area: header;
}

/* Main */
main {
  grid-area: main;
  padding: 2rem;
  display: grid;
  gap: 2rem;
}

.ofertas-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas en escritorio */
  gap: 2rem;
}

/* index.css */
.grid-index-container {
  display: grid;
  grid-template-areas:
    "header header"
    "main sidebar"
    "footer footer";
  grid-template-columns: 1fr 250px; /* Main ocupa el resto, sidebar 250px */
  gap: 2rem;
  padding: 1rem;
}
@media (min-width: 1024px) {
  .grid-index-container {
    grid-template-areas:
      "header header "
      "main sidebar"
      "footer footer";
    grid-template-columns: 3fr 1fr;
  }
}

.logo-container {
}
/* Panel de bienvenida */
.welcome {
  background-color: var(--color-light);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  color: var(--color-dark);
}

.welcome h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

/* Panel Ofertas Especiales */
.ofertas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  gap: 1rem;
  
}
.ofertas h2 {
  margin-bottom: 1rem;
  color: var(--color-black);
}

/* Sidebar */
.sidebar {
  background-color: var(--color-light);
  padding: 2rem;
  color: var(--color-dark);
  display: grid;
  grid-area: sidebar;
}

.sidebar h2 {
  margin-bottom: 1rem;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  margin-bottom: 0.5rem;
}

section.ofertas {
  margin-top: 2rem;
}
.footer {
  grid-area: footer;
}
/* Media query para anchuras entre 600px y 1000px */
@media (max-width: 1000px) and (min-width: 600px) {
  .grid-index-container {
    grid-template-areas:
      "header"
      "main"
      "sidebar"
      "footer";
    grid-template-columns: 1fr; /* Una columna */
  }
  .ofertas-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  }

  .ofertas-grid .oferta-card:last-child {
    grid-column: span 2; /* Último card ocupa 2 columnas (centrado) */
    justify-self: center;
  }
}
/* Media query para anchuras < 600px */
@media (max-width: 600px) {
  .ofertas-grid {
    grid-template-columns: 1fr; /* Una columna */
  }

  .ofertas-grid .oferta-card:last-child {
    grid-column: span 1; /* Último card ocupa 1 columna */
  }
}