.div1 {
    background-color: lightpink;
    float: right;
    padding: 100px;
    font-weight: bold;
}
.div2{
    background-color: aqua;
    float: left;
    padding: 100px;
    font-weight: bold;
}