div {
  padding: 10px;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media (width> 600px) and (width< 992px) {
  div {
    width: 50%;
    float: left;
}

}
@media(width > 992px){
    div{
        width: 25%;
        float: left;
    }
}
.uno{
    background-color: gray;
}
.dos {
    background-color: rgb(170, 166, 166);
}
.tres{
    background-color: rgb(187, 183, 183);
}
.cuatro{
    background-color: rgb(212, 206, 206);
}