/********** Estilos generales **********/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.container{
  margin: 20px;
  display: flex;
  background-color: white;
  padding: 50px;
  border: 1px solid ;

}
/* Contenedor principal */
.item-1 {
  padding: 20px;
  background-color: rgb(207, 185, 185);
  border: 1px solid #555;
  align-items: center;
}
.item-2 {
  padding: 20px;
  background-color: rgb(207, 185, 185);
  border: 1px solid #555;
}
.item-3{
  padding: 20px;
  background-color: rgb(207, 185, 185);
  border: 1px solid #555;
}

