.divtexto{
    background-color:lightsalmon;
}

.div2{
    background-color: aqua;
    padding: 10px;
    float: left; 
 
}

.div1{
    background-color: lightpink;
    padding: 50px;
    float: right;
    
}
