
/* ocultar un elemento cuando la anchura de la paguina sea de 600px o menos */
div{
    background-color: blue;
    padding: 20px;
}
@media (min-width: 600px) {
    div {
        display: none;
    }
  }