/* 1-modifica el color del body a pink si la anchura de la paguina es de 800 px o mayor
2- a lightgreen si esta entre 400px y 799px
3- si es menos de 400px de color lightblue */

@media (min-width: 800px) {
  body {
    background-color: pink;
  }
}
@media (min-width: 400px) and ( max-width: 799px) {
  body {
    background-color: lightgreen;
  }
}
@media (width < 400px){
  body {
    background-color: lightblue;
  }

}
