* {
  box-sizing: border-box;
}
header{
    background-color:lightslategray;
    padding: 20px;
    color: white;
}

footer{
    background-color:lightslategray;
    clear: both;
    padding: 10px; 
    color: white;  
}
div{
    background-color:rgb(86, 167, 221);
    padding: 10px;
    margin: 10px;
    
}
nav{
    
    float: left;
    width: 20%;
}
article{
    width: 80%;
   padding: 20px;
   overflow: hidden;
}