#container {
  display: grid;
  grid-template-columns:  100px; 
  grid-template-rows:  100px; 
  
}

.div1 {
  padding: 50px;
  background-color: pink;


}

.div2 {
  padding: 50px;
  background-color: aqua;
  justify-items: end;
}

code {
  font-size: 90%;
  background-color: lightgrey;
  padding: 2px 5px;
  font-family: 'Consolas', 'Lucida Console', 'Courier New', Courier, monospace;
}